@model RecordSet

@{
    ViewData["Formic.Title"] = Model.EntityName;
}

<table class="mdl-data-table">
    <thead>
        <tr>
            @foreach (var property in Model.Properties)
            {
                <th>@property.Description</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Data)
        {
            <tr>
                @{
                    PropertySchema primaryKey = null;
                }
                @foreach (var property in Model.Properties)
                {
                    if (property.IsPrimaryKey)
                    {
                        primaryKey = property;
                    }
                    <td>@Html.DisplayProperty(record, property)</td>
                }
                <td>
                    <a href="@Model.EntityName/@primaryKey.Property.GetGetter().GetClrValue(record)/Edit"
                       title="Edit this @Model.EntityName"
                       class="mdc-button mdc-button--accent">
                        Edit
                    </a>
                </td>
            </tr>
                    }
    </tbody>
</table>

<form class="fab-form">
    <button formaction="@Model.EntityName/Create"
            title="Create a new @Model.EntityName"
            class="mdc-fab material-icons" aria-label="Add">
        <span class="mdc-fab__icon">
            add
        </span>
    </button>
</form>
