@model IEnumerable<Formic.Blog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PK">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PK">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PK">Delete</a>
        </td>
    </tr>
}
</table>
</body>
</html>
