@model IList<SelectListItem>

@{ 
    var inputName = (string)ViewBag.label;
}


<label for="@inputName">@inputName:</label>
<select name="@inputName" id="@inputName">
    @foreach (var item in Model)
    {
        <option value="@item.Value"
                @(item.Selected ? "selected='selected'" : "" )
                @(item.Disabled ? "disabled='disabled'" : "" )>
            @item.Text
        </option>
    }
</select>
