@model string

@{
    var inputName = (string)ViewBag.label;
    bool hasValue = !string.IsNullOrEmpty(Model);
}
<label @(hasValue ? "mdc-textfield__label--float-above" : "")" for="@inputName">@inputName:</label>
<input type="text" id="@inputName" name="@inputName" value="@Model">